/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Container and Box Styles */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.box {
    flex: 1 1 150px;
    margin: 10px;
    max-width: 150px;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 1s forwards;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #1c1c1c; /* Add a background color */
    border-radius: 8px; /* Add some rounding to the edges */
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Add padding to ensure content has space */
}

.item img {
    width: 100%;
    height: auto;
    max-width: 100px;
}

.item span {
    margin-top: 10px;
    font-size: 14px;
}

/* Fade In Animation */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Media Queries */
@media (max-width: 768px) {
    .box {
        max-width: 100px;
    }
    .item span {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .box {
        max-width: 80px;
    }
    .item span {
        font-size: 10px;
    }
}
